<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sign-Up Result</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class = "jumbotron jumbotron-fluid">
            <div class = "container">
                   <% if (error)  { %>
                    <h3>Sorry, this username is already taken! Please try again with a different username.</h3>
                    <form style="width: 10%;margin: auto;" action="/signUp" method="GET">
                        <button class="btn btn-md btn-primary btn-block"  type="submit">Go back</button>
                    </form>
                <% } %>
                <% if (!error) {%>
                    <h3>Sign Up was successful!</h3>
                    <form style="width: 10%;margin: auto;" action="/login" method="GET">
                        <button class="btn btn-md btn-primary btn-block" type="submit">Login</button>
                    </form>
                <%}%>
        </div>
    </body>
</html>